
/*************** General Font ***************/

body {
	font-family: "Lato", sans-serif;
}

/*************** Header ***************/

.header-img-css {
	margin-top: 25px;
    height: 100px;
    width: 100px;
}

.header-title-css {
	font-weight: normal;
	font-size: 30px;
	color: #747704;
}

.header-subtitle-css {
	color: #747704;
}

hr {
	height: 5px;
	background-color: #bcbbbb;
	margin: 10px;
}

.social-links-css li {
    font-size: 32px;
    margin: 5px;
}

.social-links-css li a, 
.social-links-css li a:focus {
    color: #1ea5ed;
}

.social-links-css li a:hover {
    color: #4389c4;
}

/*************** Projects Title ***************/

.projects-title-css {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #bcbbbb;
	font-size: 25px;
	font-weight: bold;
}

/*************** Project Thumbnails ***************/

.project-thumbnail-css {
	height: auto;
    max-width: 400px;
	padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

.project-thumbnail-css img {
	margin: 0 auto;
    border: solid 1px #ccc;
}

.project-thumbnail-css figcaption h2 {
	margin-top: 10px;
	font-weight: normal;
	font-size: 25px;
	color: #747704;
    padding-top: 5px;
}

.project-thumbnail-css figcaption p {
	display: none;
	margin-bottom: 0px;
	color: #747704;
	font-family: Helvetica;
	font-weight: normal;
}


/*************** To Ajust To Screen Size ***************/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* From tablets, devices with screens 768px, and up */
@media screen and (min-width: 768px) {

	.project-thumbnail-css {
		height: 300px;
	}

	.project-thumbnail-css figcaption p {
		display: none;
		margin: 0 auto;
	}

}

/* From laptops, devices with screens 1024px, and up */
@media screen and (min-width: 1024px) {

	.header-css {
		padding-top: 10px;
    	padding-right: 12px;
    	padding-bottom: 10px;
    	padding-left: 0px;
	}
    
    .header-img-css {
        height: 200px;
        width: 200px;
    }

	.header-title-css {
		font-size: 60px; /*
		text-align: right;
*/
	}

	.header-subtitle-css {
        font-size: 30px;
/*		text-align: right;*/
	}

	hr {
		margin: 20px;
	}
    
    .social-links-css li {
        font-size: 40px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 0px;
    }
    
    .projects-title-css {
        font-size: 30px;
    }

}
